<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                <div class="container text-center">
                    <img src="../../../assets/logo.png" alt="">
                </div>

                <h1 class="text-center">Login Here!!</h1>

                <form action="">

                    <mat-form-field class="full-width" appearance="fill">
                        <mat-label>User Name</mat-label>
                        <input 
                        required
                        name="username"
                        matInput placeholder="Enter here">
                        <mat-hint>User should be valid</mat-hint>
                        </mat-form-field>]]]]]]]]]]]]]]]]]]]]]]]]]]]]]
                </form>
            </div>
        </div>
    </div>
</div>